header{
    background-color:rgb(141, 156, 133);
    width:1000px;
    height: 100px;
    padding: 10px;
}

main{
    background-color: rgb(141, 156, 133);
    width: 1000px;
    height: 600px;
    padding: 10px;

}

input{
    background-color: white;
    position: relative;
    border: 2px solid black;
    border-radius: 5px;
    left: 140px;
}

option, select {
    background-color: white;
    position: relative;
    border: 1px solid gray;
    border-radius: 3px #ccc;
    left: 140px;
    width: 200px;
    padding: 5px;
    resize: vertical;

}


label{
    background-color: white;
    position: relative;
    border: 1px solid gray;
    border-radius: 4px;
    left: 130px;
    padding: 5px;
   

}

h2{
    text-align: center;
}